body{
    background-color: #1A237E;
}
.cont {
    color:rebeccapurple;
    max-inline-size: fit-content;
    border:none;
    outline: none;
    background-color:#42A5F5;
    background: -webkit-linear-gradient(top left, white 50%, coral 50%);

}

#color {

    width: 315px;
    height: 200px;
    border: 4px solid white;
    border-top-right-radius: 80px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 80px;
    background-color: rgb(0,0,0);
    
}
.silde{
    color: blue;
    
}
#textbox{
    background-color:white;
    outline: none;
    border: none;
    width: 200;
    text-align: center;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
#copy{
    width: 250px;
    font-size: 20px;
}